.button {
  background-color: #FFFFFF;
  /*background-color: #2B9CD8;*/
  border: 2px solid #2B9CD8;
  border-radius: 25px;
  box-sizing: inherit;
  /*box-shadow: 0px 0px 3px #888888;*/
  color: #2B9CD8;
  /*color: #FFFFFF;*/
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  padding: 12px 8px;
  outline-style: none;
  text-align: center;
  text-decoration: none;
  width: 110px;
}

.button-sm {
  font-size: 11px;
  width: 75px;
}


.button-md {
  font-size: 14px;
  width: 110px;
}

.button-lg {
  font-size: 16px;
  width: 140px;
}

.button:hover {
  background-color: #2B9CD8;
  box-shadow: 0px 1px 3px #888888;
  /*background-color: #1a6992;*/
  border: 1px solid #2B9CD8;
  color: white;
}

.button:active {
  background-color: #1a6992;
  border: 2px solid #2B9CD8;
  box-shadow: 0px 2px 3px #888888;
  color: white;
}